--extra-index-url https://download.pytorch.org/whl/cu121
accelerate>=0.24.1
compel
datasets==2.14.6
pyarrow<14,>=12
diffusers>=0.31.0
huggingface-hub>=0.23.2
peft==0.7.1
safetensors
setuptools
torch==2.3.1
torchvision==0.18.1
transformers==4.36.2
xformers; platform_system == "Linux"
